
<div class="title-content">
    <h1 class="title">Welcome to TaskQuack 𓅰</h1>
</div>
<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar">
            <h1 class="title has-text-warning">
                Lists
            </h1>
            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list.listId, 'tasks']" routerLinkActive="is-active">
                    <p>{{list.list}}</p>
                </a>
            </div>
            
            <button class="button is-warning is-state" routerLink="/new-list"> New List</button>
        </div>
 
        <div class="task-list-container">
            <h1 class="title has-text-warning">
                Tasks
            </h1>
            <a class="task" *ngFor="let task of tasks">
                <p>{{task.task}}</p>
            </a>

            <button class="taskButton button is-warning is-state" routerLink="/new-task"> New Task</button>
        </div>
    </div>
</div>
