
<div class="title-content">
    <h1 class="title">Welcome to TaskQuack 𓅰</h1>
</div>
<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar">
            <h1 class="title has-text-warning">
                Lists
            </h1>
            <div class="list-menu">
                <!-- delete after ng starts working, after connecting database: -->
                <a class="list-menu-item">
                    <p>List #2</p>
                </a>
                <a class="list-menu-item"  routerLinkActive="is-active">
                    <!-- <p>{list.title}</p> -->
                </a>
            </div>
            
            <button class="button is-outlined is-warning" routerLink="/new-list">+ Add List</button>
        </div>

        <div class="task-list-container">
            <h1 class="title has-text-warning">
                Tasks
            </h1>
            <!-- Task Elements-->
            <div class="task" *ngFor="let task of tasks">
                <!-- <p>{{task.title}}</p> -->
            </div>

            <button class="button is-outlined is-warning" routerLink="/new-task">+ Add Task</button>
        </div>
    </div>
</div>