<div class="title-content">
    <h1 class="title">Welcome to TaskQuack 𓅰</h1>
</div>
<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar">
            <h1 class="title has-text-warning">
                Lists
            </h1>
            <div class="list-menu">
                <div class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list.listId, 'tasks']"
                    routerLinkActive="is-active" (click)="onDeleteButton(list)">
                    <p>{{list.list}}</p>
                    <div class="content">
                        <button *ngIf="selectedList && selectedList.listId === list.listId" class="delete-list-button delete" (click)="onDeleteList(list.listId)"></button>
                    </div>
                </div>

            </div>

            <button class="button is-warning is-state" routerLink="/new-list"> New List</button>
        </div>

        <div class="task-list-container">
            <h1 class="title has-text-warning">
                Tasks
            </h1>
            <div class="list-task">
                <div class="task has-text-dark" *ngFor="let task of tasks" (click)="onTaskClick(task)"
                    [ngClass]="{'completed' : task.completed}">
                    <p >{{task.task}}</p>
                    <div class="content">
                        <button *ngIf="task.completed" class="delete-task-button delete is-medium"></button>
                    </div>
                </div>   
            </div>

            <button class="taskButton button is-warning is-state" routerLink="./new-task"> New Task</button>
        </div>
    </div>
</div>