<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * SEIS-739 Project * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * Team members * * * * * * * * * * -->
<!-- * * * * * * * * * * Kanoog Moua * * * * * * * * * * -->
<!-- * * * * * * * * * * Nouqouja Yang * * * * * * * * * * -->
<!-- * * * * * * * * * * Pemba Gurung * * * * * * * * * * -->
<!-- * * * * * * * * * * Rabia Shah Din * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * Professor: Michael Dorin * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<h1> Task Management System </h1>
